{
  "comments": false,
  "presets": [["es2015", { "modules": false }], "stage-2", "react"],
  "env": {
    "hot": {
      "plugins": [
        ["react-hot-loader/babel"]
      ]
    },
    "production": {
      "compact": true,
      "plugins": [
        "transform-remove-debugger",
        "transform-remove-console",
        "transform-react-inline-elements",
        "transform-react-constant-elements"
      ]
    }
  }
}
